n8n/01-cobertura-jogo.json
{
  "name": "01 · Cobertura Automática de Jogo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/30 * * * *" }]
        }
      },
      "id": "cron-cobertura",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [200, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "manual-cobertura",
      "name": "Disparo Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [200, 460],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whoglnpvqjbaczgnebbn.supabase.co/rest/v1/jogos?placar_mandante=not.is.null&placar_visitante=not.is.null&finalizado=eq.true&order=data_hora.desc&limit=1&select=id,rodada,competicao,mandante_slug,visitante_slug,placar_mandante,placar_visitante,data_hora",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indob2dsbnB2cWpiYWN6Z25lYmJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODA2MTksImV4cCI6MjA4OTM1NjYxOX0.4JMjKuE3G5aBIIP-VEa8qc9M6c1NMKiSe0ZfgjIXY_Y" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indob2dsbnB2cWpiYWN6Z25lYmJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODA2MTksImV4cCI6MjA4OTM1NjYxOX0.4JMjKuE3G5aBIIP-VEa8qc9M6c1NMKiSe0ZfgjIXY_Y" }
          ]
        },
        "options": {}
      },
      "id": "busca-ultimo-jogo",
      "name": "Busca Último Jogo Finalizado",
      "type": "n8n-nodes-base.httpRequest",
      "position": [440, 380],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-jogo",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-jogo-existe",
      "name": "Jogo encontrado?",
      "type": "n8n-nodes-base.if",
      "position": [660, 380],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whoglnpvqjbaczgnebbn.supabase.co/rest/v1/postagens?slug=like.*{{ $('Busca Último Jogo Finalizado').item.json[0].mandante_slug }}*{{ $('Busca Último Jogo Finalizado').item.json[0].visitante_slug }}*&select=id,slug&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indob2dsbnB2cWpiYWN6Z25lYmJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODA2MTksImV4cCI6MjA4OTM1NjYxOX0.4JMjKuE3G5aBIIP-VEa8qc9M6c1NMKiSe0ZfgjIXY_Y" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indob2dsbnB2cWpiYWN6Z25lYmJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODA2MTksImV4cCI6MjA4OTM1NjYxOX0.4JMjKuE3G5aBIIP-VEa8qc9M6c1NMKiSe0ZfgjIXY_Y" }
          ]
        },
        "options": {}
      },
      "id": "verifica-artigo-existente",
      "name": "Artigo já existe?",
      "type": "n8n-nodes-base.httpRequest",
      "position": [880, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-artigo",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-artigo-novo",
      "name": "Artigo ainda não publicado?",
      "type": "n8n-nodes-base.if",
      "position": [1100, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.onovorizontino.com.br/api/agents/gabi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer WkltA2CFxI6d3RDqEzHva4y1Xs8Y0TmcjOfZurSG" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ jogo_id: $('Busca Último Jogo Finalizado').item.json[0].id, status: 'published' }) }}",
        "options": {}
      },
      "id": "gabi-publicar",
      "name": "Gabi — Publicar Artigo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1320, 220],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.onovorizontino.com.br/api/agents/hype",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ evento: $('Busca Último Jogo Finalizado').item.json[0].placar_mandante > $('Busca Último Jogo Finalizado').item.json[0].placar_visitante ? 'vitória' : $('Busca Último Jogo Finalizado').item.json[0].placar_mandante < $('Busca Último Jogo Finalizado').item.json[0].placar_visitante ? 'derrota' : 'empate', placarMandante: $('Busca Último Jogo Finalizado').item.json[0].placar_mandante, placarVisitante: $('Busca Último Jogo Finalizado').item.json[0].placar_visitante, mandante: $('Busca Último Jogo Finalizado').item.json[0].mandante_slug, visitante: $('Busca Último Jogo Finalizado').item.json[0].visitante_slug }) }}",
        "options": {}
      },
      "id": "leo-copy",
      "name": "Léo — Gerar Copy Social",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1320, 380],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8564078131:AAFXL10HzW-9trv4SpAoZF-C37GJ_0guXeY/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '8597307408', text: '📰 *Artigo publicado!*\\n\\n' + $('Gabi — Publicar Artigo').item.json.postagem?.titulo + '\\n\\n✍️ *Copy social (Léo):*\\n' + $('Léo — Gerar Copy Social').item.json.script?.copy, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "telegram-cobertura",
      "name": "Telegram — Notifica Publicação",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1540, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "A cada 30 minutos": { "main": [[{ "node": "Busca Último Jogo Finalizado", "type": "main", "index": 0 }]] },
    "Disparo Manual":    { "main": [[{ "node": "Busca Último Jogo Finalizado", "type": "main", "index": 0 }]] },
    "Busca Último Jogo Finalizado": { "main": [[{ "node": "Jogo encontrado?", "type": "main", "index": 0 }]] },
    "Jogo encontrado?": {
      "main": [
        [{ "node": "Artigo já existe?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Artigo já existe?": { "main": [[{ "node": "Artigo ainda não publicado?", "type": "main", "index": 0 }]] },
    "Artigo ainda não publicado?": {
      "main": [
        [
          { "node": "Gabi — Publicar Artigo", "type": "main", "index": 0 },
          { "node": "Léo — Gerar Copy Social", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Gabi — Publicar Artigo": { "main": [[{ "node": "Telegram — Notifica Publicação", "type": "main", "index": 0 }]] },
    "Léo — Gerar Copy Social": { "main": [[{ "node": "Telegram — Notifica Publicação", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "portal" }, { "name": "gabi" }, { "name": "leo" }]
}
